/*colors pallete: 
#0D8671
#108757
#193340
#E4E86F
#FD4933
*/

html, body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;  
}
* {
    box-sizing: border-box;
    background-color: #0D8671;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid red;
    height: 100%;
}

.Ishop {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80vh;
}

.Ishop__header {
    display: flex;
    justify-content: center;
    color : white;
}
.Ishop__content-block {
    width: 100%;
}