html, body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;  
}
* {
    box-sizing: border-box;
    background-color: #ddd;
    font-family: Verdana, "Trebuchet MS", Geneva, sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    border: 3px solid red;
    height: 100%;
}
.Ishop {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
.Ishop__header {
    display: flex;
    justify-content: center;
    color : white;
}
.Ishop__table {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 5vh 2vh;
    background-color : #eee;
}
.Ishop__table > :first-child {
    text-transform: uppercase;
    background: black;
}
.Ishop__line {
    text-align: center;
    word-wrap:break-word;
    margin-top: 5vh;
    padding: 2vh;
    border: 1px solid black;
}
.Ishop__cell {
    border: 1px solid black;
}
.Ishop__table:nth-child(odd) {
    background-color: #eee;
}